/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 16px;
  line-height: 1.4;
  font-family: "Open Sans";
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Base Styles for Header/Footer (All Pages) */

.header-wrapper {
  background: #202322;
  color: #e2e3ed;
  width: 100%;
}

.unplugged-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px 0;
}

.unplugged-logo img,
.unplugged-logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
}

nav {
  width: 100%;
  border-top: 1px solid #3a3a3a;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 15px 0;
  width: 100%;
}

nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #e2e3ed;
  font-size: 18px;
}

.footer-wrapper,
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-decoration: none;
  font-style: normal;
  padding-top: 50px;
  width: 100%;
  background: #202322;
  color: #ffffff;
  margin: 0;
}

.footer-wrapper p {
  font-size: 14px;
  margin: 0;
}

.footer-content {
  width: 100%;
}

.footer-contact,
.social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100%;
  font-family: "Open Sans";
}

.footer-contact h3 {
  margin: 0 0 35px 0;
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins";
}

.footer-address,
.footer-address a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  line-height: 8px;
  font-family: "Open Sans";
  font-size: 14px;
  text-decoration: none;
  font-style: normal;
  color: #ffffff;
  height: 45px;
}

.social h3 {
  margin: 45px 0 15px 0;
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins";
}

.social-emblems {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  margin: 0;
}

.social-emblems p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  margin: 0;
}

.social-emblems a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  font-size: 18px;
  color: white;
  font-style: normal;
  text-decoration: none;
  width: 20%;
  margin: 0;
}

.social-emblems i {
  background-color: #527158;
  border-radius: 30px;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0;
}

.copyright {
  padding: 50px 0 20px;
}

/* Base Mobile Style for Homepage */

body {
  font-size: 16px;
  font-family: "Open Sans";
}

.headline {
  margin: 0;
  height: 500px;
  background: url(../img/jake-melara-30679-unsplash-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.headline h1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 83%;
  padding: 55px 0 0 20px;
  margin: 0;
  color: #e2e3ed;
  font-size: 36px;
  font-family: "Poppins";
  font-weight: 500;
}

/* Base Mobile Styles for About Page */

/* Base Mobile Styles for FAQ Page */

/*---------- TABLET STYLES ------------- */

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  /* Tablet Styles for Header/Footer (All Pages) */

  .header-wrapper {
    display: flex;
    flex-flow: row wrap;
  }

  .unplugged-logo {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    width: 50%;
    padding: 15px 0 15px 0px;
  }

  .unplugged-logo a {
    padding: 0 0 0 120px;
  }

  .unplugged-logo img,
  .unplugged-logo a {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    width: 60%;
  }

  nav {
    width: 50%;
    border-top: none;
    padding: 15px 0;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
    flex-flow: row wrap;
  }

  #faq {
    padding: 0 35px 0 0;
  }

  #about {
    padding: 0 60px 0 0;
  }

  .footer-wrapper {
    width: 100%;
  }

  .footer-content {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
  }

  .footer-contact,
  .social {
    width: 50%;
  }

  .footer-contact h3,
  .social h3 {
    margin: 0 0 15px 0;
    font-size: 24px;
  }

  .social-emblems a {
    width: 16%;
  }

  /* Tablet Style for Homepage */

  .headline {
    height: 600px;
    background: url(../img/jake-melara-30679-unsplash-tablet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .headline h1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 69%;
    padding: 95px 0 0 65px;
    font-size: 48px;
  }

  /* Tablet Styles for About Page */

  /* Tablet Styles for FAQ Page */
}

/*---------- DESKTOP STYLES ------------- */

@media only screen and (min-width: 1200px) {
  /* Desktop Styles for Header/Footer (All Pages) */

  .header-wrapper {
    display: flex;
    flex-flow: row wrap;
  }

  .unplugged-logo {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    width: 50%;
    padding: 15px 0 15px 0px;
  }

  .unplugged-logo a {
    padding: 0 0 0 120px;
  }

  .unplugged-logo img,
  .unplugged-logo a {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    width: 60%;
  }

  nav {
    width: 50%;
    border-top: none;
    padding: 20px 0;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
    flex-flow: row wrap;
    padding: 20px 0;
  }

  #faq {
    padding: 0 35px 0 0;
  }

  #about {
    padding: 0 60px 0 0;
  }

  .footer-wrapper {
    width: 100%;
  }

  .footer-content {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
  }

  .footer-contact,
  .social {
    width: 50%;
  }

  .footer-contact h3,
  .social h3 {
    margin: 0 0 15px 0;
    font-size: 30px;
  }

  .footer-address,
  .footer-address a {
    font-size: 18px;
    height: 55px;
  }

  .social-emblems a {
    width: 15%;
  }

  .copyright p {
    font-size: 18px;
  }

  /* Desktop Style for Homepage */

  .headline {
    height: 600px;
    background: url(../img/jake-melara-30679-unsplash-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .headline h1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 56%;
    padding: 20px 0 0 120px;
    font-size: 60px;
    line-height: 75px;
  }

  /* Desktop Styles for About Page */

  /* Desktop Styles for FAQ Page */
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
